$primary: rgba(19, 139, 169, 1);
$dark-primary: rgba(55, 49, 96, 1);
$white: rgba(255, 255, 255, 1);
$success: rgba(82, 196, 26, 1);
$info: rgba(22, 119, 255, 1);
$warning: rgba(250, 173, 20, 1);
$danger: rgba(255, 77, 79, 1);

$filter-background: rgba(0, 0, 0, 0.02);
$grey: rgba(0, 0, 0, 0.04);
$border-color: rgba(0, 0, 0, 0.06);
$input-border: rgba(0, 0, 0, 0.15);
$placeholder: rgba(0, 0, 0, 0.25);
$text-description: rgba(0, 0, 0, 0.45);
$profile-name: rgba(0, 0, 0, 0.65);
$default-text-color: rgba(0, 0, 0, 0.88);
